<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <h2>{{ title }}</h2>

    <section id="address_validation">
        <select id="currency">
            {% for currency in currencies %}
                <option value="{{ currency['symbol'] }}">{{ currency['symbol'].upper() }} - {{ currency['name'] }}</option>
            {% endfor %}
        </select>
        <input id="address">
        <button id="validate">validate</button>
        <pre id="validation_response"></pre>
    </section>
    <script type="text/javascript">

        const address_field = document.getElementById('address')
        const currency_field = document.getElementById('currency')
        const validation_response = document.getElementById('validation_response')

        let validate = () => {
            currency = currency_field.value
            address = address_field.value

            fetch(`/api/validate/${currency}/${address}`)
                .then(res => res.json())
                .then((res) => {
                    validation_response.innerHTML = JSON.stringify(res.result);
                })
                .catch(err => console.log(err))
        }

        document.getElementById('validate').addEventListener('click', validate)

    </script>
</body>
</html>